@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #111111;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-120px);
  }
}

.group:hover .animate-slideUp {
  animation: slideUp 0.3s ease-in-out forwards;
}

.group:hover .animation-delay-500 {
  animation-delay: 0.5s;
}

.group:hover .animation-delay-1000 {
  animation-delay: 1s;
}

.group:hover .animation-delay-1500 {
  animation-delay: 1.5s;
}

.group:hover .animation-delay-2000 {
  animation-delay: 2s;
}

.group:hover .animation-delay-2500 {
  animation-delay: 2.5s;
}
